@charset 'utf-8';

/* 기본 스타일 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
}

/* 헤더 스타일 */

header {
    width: 100%;
    border-bottom: none;
}

header .inner {
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
    position: relative;
}

header .inner h1 {
    position: absolute;
    left: 0;
    bottom: 15px;
}

header .inner h1 a {
    font: bold 24px/1 "arial";
    color: #fff;
}

header .inner .util {
    position: absolute;
    top: 20px;
    right: 30px;
}

header .inner .util li {
    float: left;
}

header .inner .util li a {
    display: block;
    font: 12px/1 "arial";
    color: #999;
    padding: 0 10px;
}

header .inner #gnb {
    position: absolute;
    bottom: 0;
    right: 0;
}

header .inner #gnb li {
    float: left;
}

header .inner #gnb li a {
    display: block;
    font: bold 15px/1 "arial";
    color: #fff;
    padding: 20px 40px;
    transition: all 0.5s;
}

header .inner #gnb li a:hover {
    background: none;
    color: #fff;
}

/* 비주얼 스타일 */

figure {
    width: 100%;
    height: calc(100vh - 120px);
    background: #000;
    position: relative;
    overflow: hidden;
    padding-top: 250px;
}

figure video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    position: absolute;
    top: 0;
    left: 0;
}

figure .inner {
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
    position: relative;
}

figure .inner h1 {
    font: normal 120px/1 "arial";
    color: #fff;
    margin-bottom: 20px;
}

figure .inner p {
    font: 16px/1.4 "arial";
    color: #888;
    margin-bottom: 150px;
}

figure .inner a {
    display: block;
    width: 400px;
    height: 30px;
    border:  1px solid #eee;
    font: bold 12px/30px "arial";
    color: #fff;
    text-align: center;
    letter-spacing: 1px;
    transition: all 0.5s;
    margin: auto;
}

figure .inner a:hover {
    background: none;
    color: #555;
}

/* 뉴스 스타일 */

section {
    width: 100%;
    padding: 200px 0;
    background: #000;
}

section .inner {
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
}

section .inner h1 {
    font: bold 24px/1 "arial";
    color: #fff;
    text-align: left;
    margin-bottom: 50px;
}

section .inner .wrap {
    width: 100%;
}

section .inner .wrap::after {
    content: "";
    display: block;
    clear: both;
}

section .inner .wrap article {
    width: 100%;
    float: left;
    margin-bottom: 20px;
}

section .inner .wrap article h2 {
    margin-bottom: 10px;
}

section .inner .wrap article h2 a {
    font: bold 16px/1 "arial";
    color: #555;
}

section .inner .wrap article p {
    font: 14px/1.4 "arial";
    color: #777;
}

section .inner .wrap article .pic {
    width: 100%;
    height: 240px;
    background: #333;
    position: relative;
    overflow: hidden;
}

section .inner .wrap article .pic img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* 메인 스타일 */

main {
    width: 100%;
    padding: 100px 0;
    background-color: #fff;
    color: #000;
}

main .inner {
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
}

main h1 {
    font-size: 36px;
    margin-top: 200px;
    margin-bottom: 30px;
    text-align: center;
}

main .wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 200px;
}

main article {
    width: 48%;
    margin-bottom: 20px;
}

main article .pic {
    width: 100%;
    height: 300px;
    background: #333;
    position: relative;
    overflow: hidden;
}

main article .pic img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

main article h2 {
    font-size: 18px;
    margin-top: 10px;
    text-align: center;
}

main article a {
    color: #000;
    text-decoration: none;
    display: block;
}

main article:hover {
    background: #eee;
}

/* 푸터 스타일 */

footer {
    width: 100%;
    background: #333;
    padding: 60px 0;
    border-top: 1px solid #888;
}

footer .inner {
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
}

footer .inner .upper {
    width: 100%;
    padding-bottom: 20px;
}

footer .inner .upper::after {
    content: "";
    display: block;
    clear: both;
}

footer .inner .upper h1 {
    float: right;
    font: bold 18px/1 "arial";
    color: #666;
}

/* 모바일 화면 스타일 */

@media only screen and (max-width: 600px) {
    header .inner {
        width: 90%;
    }

    header .inner h1 {
        bottom: 10px;
    }

    header .inner .util {
        top: 15px;
        right: 20px;
    }

    header .inner #gnb {
        bottom: 10px;
        right: 10px;
    }

    figure .inner h1 {
        font-size: 50px;
        margin-bottom: 10px;
    }

    figure .inner p {
        font-size: 14px;
        margin-bottom: 100px;
    }

    figure .inner a {
        width: 300px;
        height: 25px;
        font-size: 10px;
    }

    section .inner h1 {
        font-size: 20px;
        margin-bottom: 30px;
    }

    section .inner .wrap article h2 {
        font-size: 14px;
    }

    section .inner .wrap article p {
        font-size: 12px;
    }

    section .inner .wrap article .pic {
        height: 160px;
        margin-bottom: 10px;
    }

    main h1 {
        font-size: 24px;
        margin-top: 100px;
        margin-bottom: 20px;
    }

    main article {
        width: 100%;
    }

    main article .pic {
        height: 200px;
    }

    main article h2 {
        font-size: 16px;
        margin-top: 5px;
    }

    main article a {
        font-size: 12px;
    }

    footer .inner .upper h1 {
        font-size: 14px;
        margin-top: 5px;
    }
}
